selenium
beautifulsoup4
webdriver-manager
numpy
llama-stack
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
matplotlib
chromadb
einops
requests_ntlm
llama-index-llms-anthropic
python-multipart
docx2txt